:root {
  --bg-color: #fff;
  --primary-color: green;
  --color-border: #E1E4E8;
  --color-border-hsl: hsla(0, 0%, 100%, 0.15);
  --color-text-primary: #24292E;
  --color-nav-text-active: #24292E;
  --color-avatar-border: #00000000;
  --color-counter-bg: rgba(209, 213, 218, 0.5);
  --color-text-link: #0366D6;
  --color-text-secondary: #586069;
  --border-radius: 6px;
}

body {
  width: 100%;
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,Arial,sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-primary);
}

h3 {
  font-size: 1.25rem;
  margin: 0em 0.2em 0em;
}

ul {
  margin: 0rem 0rem;
  padding: 0rem 0rem;
  list-style: none;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}
a:hover { text-decoration: underline; }

button { outline: none; }

/* Form */
input {
  min-height: 28px;
  width: 100%;
  padding: 0rem 0.8rem;
  background-color: inherit;
  color: inherit;
  outline: none;
  border: 0;
}

.search label {
  display: flex;
  align-items: center;
  background-color: transparent;
  vertical-align: middle;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-hsl);
}

#menu {
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: 0;
}

#result {
  display: block;
  padding: 1rem 0rem;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.logo {
  display: block;
  height: 32px;
  width: 32px;
}
.logo svg {
  height: 100%;
  width: 100%;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: #24292e;
  color: #FFFFFF;
  transition: 5s;
  transition-property: height;
}

.header--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform-origin: 0% 0%;
  transform: translate(0%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header-subitems {
  display: none;
  width: 100%;
}

.menu-show .header-subitems { display: block; }

.header__search {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  margin-right: 0.5rem;
  font-size: 8px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border-hsl);
}

.header__nav li {
  padding: 0.5rem 0rem;
  font-weight: 600;
  border-top: 1px solid var(--color-border-hsl);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.summary {
  flex: 1;
  padding: 1rem;
}

.activities { flex: 1; }

.user__image, .user__avatar {
  display: inline-block;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0px 1px var(--color-avatar-border);
  -moz-box-shadow:    0px 0px 0px 1px var(--color-avatar-border);
  box-shadow:         0px 0px 0px 1px var(--color-avatar-border);
}
.user__image img, .user__avatar img {
  border-radius: 50%;
}
.user__avatar {
  vertical-align: middle;
  margin-right: 0.2rem;
}

.user__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.user__status {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 100%;
  height: 36px;
  width: 36px;
  left: 100%;
  margin-left: -3rem;
  margin-bottom: 56px;
  border-radius: 50%;
  border: 1px solid #e1e4e8;
  background-color: #FFFFFF;
  cursor: pointer;
}
.user__status .set-status {
  display: none;
  margin: 0rem 0.5rem;
}

.user__status:hover {
  justify-content: flex-start;
  width: 120px;
  border-radius: 2em;
}
.user__status:hover .set-status {
  display: inline-block;
}

#user-full-name { margin-bottom: 2px; }

.activities-header {
  position: relative;
  height: 48px;
  width: 100%;
  color: var(--color-text-primary);
  padding-top: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.activities-header__nav {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.activities-header__nav ul {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.activities-header__nav ul li {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.activities-header__nav li .octicon {
  color: #959DA5;
}

.activities-header__nav ul li:last-child {
  margin-right: 0rem;
}

.activities-header__nav ul li.active {
  font-weight: 600;
  color: var(--color-nav-text-active);
  border-bottom: 2px solid #f9826c;
}
.activities-header__nav ul li.disabled {
  cursor: not-allowed;
}

.activities-content { padding: 1rem; }
.activities-content .search label {
  border-color: var(--color-border);
}

.repositories { padding: 0.5rem 0rem;}
.repository {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0rem;
  border-bottom: 1px solid var(--color-border);
}
.repository:last-child { border-bottom: 0; }
.description__item {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.description__item:last-child { margin-right: 0rem; }

.repository__star {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: var(--color-text-primary);
  background-color: #fafbfc;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(27, 31, 35, 0.15);
  cursor: pointer;
  transition: .2s;
  transition-property: color, background-color;
}
.repository__star .octicon { color: #6A737D;}
.repository__star:hover { background-color: #f3f4f6; }


@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
  }

  .header-subitems {
    display: flex;
    align-items: center;
  }

  .header__search {
    max-width: 280px;
  }

  .header-item {
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .header__nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .header__nav li {
    display: inline-block;
    margin-right: 1.5rem;
    border-top: 0;
  }

  .content {
    flex-direction: row;
  }

  .content::before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    content: " ";
    width: 100%;
    height: 48px;
    padding-top: 1rem;
    border-bottom: 1px solid var(--color-border);
    z-index: -1;
  }
  .activities-header { border-bottom: 0; }

  .summary {
    position: relative;
    flex: 0 1 25%;
    padding: 2.5rem 3rem 1rem;
  }
  
  .activities { flex: 0 1 75%; }

  .user__image { margin-right: 0rem; }
  .user__status { display: flex; }
}
