.flex {
  display: flex;
  /* border: 1px solid; */
}
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.items-center { align-items: center; }
.self-start { align-self: flex-start; }

.block {
  display: block;
}

.icon {
  font-size: 24px;
  vertical-align: middle;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

/* Margins */
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }

@media screen and (max-width: 767px) {
  .items-center-sm {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .hide-md {
    display: none!important;
  }
  .flex-column-md { flex-direction: column; }
}

