/* Layout */
.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.items-center { align-items: center; }
.self-start { align-self: flex-start; }

.block { display: block; }
.relative { position: relative; }


/* Icons */
.icon {
  font-size: 24px;
  vertical-align: middle;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.caret-down::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  cursor: pointer;
}

/* Text */
.text--grey { color: var(--color-text-secondary); }

.badge {
  margin-left: 0.5rem;
  padding: 0rem 0.5rem;
  border-radius: 2em;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--color-counter-bg);
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.w-75 { width: 75%; }
.w-100 { width: 100%; }

/* Margins */
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }

.mb-2 { margin-bottom: 0.5rem; }
.mb-4 { margin-bottom: 1rem; }

.mt-2 { margin-top: 0.5rem; }
.mt-4 { margin-top: 1rem; }

/* Paddings */
.p-1 { padding: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pl-2 { padding-left: 0.5rem; }

@media screen and (max-width: 767px) {
  .hide-sm { display: none!important; }
  .items-center-sm { align-items: center; }
}

@media screen and (min-width: 768px) {
  .hide-md { display: none!important; }
  .flex-column-md { flex-direction: column; }
}

